%meta{ :charset => "UTF-8" }
%link{ :rel => 'stylesheet' , :href => 'css/desktop.css' }

%header
	%h1 Popser!

#wrapper
	.hello-image
		%img{ :src => 'images/dance_cot.gif' , :height => '50' }

%script{ :type => "text/javascript" , :src => "js/app.js" }