%meta{ :charset => "UTF-8" }
%link{ :rel => 'stylesheet' , :href => 'css/desktop.css' }

%header
	%h1 Popser!
	%img{ :src => 'images/cat_popcorn.png' , :style => 'width:50%' }

#wrapper
	%img{ :src => 'images/dance_cot.gif' , :height => '50' }
	
%script{ :type => "text/javascript" , :src => "js/app.js" }