%meta{ :charset => "UTF-8" }

%link{ :rel => 'stylesheet' , :href => 'css/bootstrap.min.css' }
%link{ :rel => 'stylesheet' , :href => 'css/jquery-ui.css' }
%link{ :rel => 'stylesheet' , :href => 'css/flat-ui.min.css' }
%link{ :rel => 'stylesheet' , :href => 'css/desktop.css' }

#wrapper
	.hello-image
		%img{ :src => 'images/cat-walk-icon.gif' , :height => '50' }

%script{ :type => "text/javascript" , :src => "js/app.js" }