<div class="hello-image">
	<img src="images/cat_popcorn.png" style="width:50%">
</div>

<a href="/auth/check" class="js-auth-check">Проверить авторизацию</a>

<div class="accordion">
	<ul>
		<li>
			<input type="checkbox" checked="true" />
			<i></i>
			<h2>Вход</h2>
			<p id="block-login">
				<input name="email" 	type="text" 	placeholder="email" />
				<input name="password" 	type="password" placeholder="пароль" />
				<button id="button-submit-login">Войти</button>
			</p>
		</li>

		<li>
			<input type="checkbox" checked="true" />
			<i></i>
			<h2>Регистрация</h2>
			<p id="block-registrate">
				<input name="name" 		type="text" placeholder="имя" 		/>
				<input name="email" 	type="text" placeholder="email" 	/>
				<input name="password" 	type="text" placeholder="пароль" 	/>
				<button id="button-submit-registrate">Зарегестрироваться</button>
			</p>
		</li>
	</ul>
</div>

<div>
	<form method="post" action="http://popser.app/auth/login" >
		<input name="name" 		type="text" 	placeholder="name" />
		<input name="email" 	type="text" 	placeholder="email" />
		<input name="password" 	type="password" placeholder="пароль" />
		<input type="submit" value="Отрпавить" />
	</form>
</div>


