<main id="page-home">

	<section id="serial"></section>
	
	<section id="serials"></section>

	<footer>
		<figure>
			<img src="images/cat-walk-icon.png" />
			<figcaption>Popser!</figcaption>
		</figure>
	</footer>

</main>
