<div class="home-page">
	<span class="palette-peter-river current-serial">{{ user.current }}</span>
	<div class="js-serials-list"></div>

	<form>
		<input type="text"  class="form-control" placeholder="Добавить сериал">
		<input type="submit" value="Добавить" class="btn btn-primary" id="button-submit-add-new-serial">
	</form>

	<div>
		<a href="#" class="js-link-logout">Выход</a>
	</div>
</div>