<section class="home-page">
	<div class="js-serial"></div>

	<div class="js-serials-list"></div>

	<footer>
		<img src="images/cat-walk-icon.png">
		<h1>Popser!</h1>
		<!-- <a href="#"><span class="fui-user"></span></a>
		<a href="#" class="js-link-logout" title="Выход"><span class="fui-exit"></span></a> -->
	</footer>

</section>