<div class="home-page">
	<form>
		<input type="email" class="form-control" placeholder="Добавить сериал">
		<button type="submit" class="btn btn-primary">Добавить</button>
	</form>

	<div>
		<a href="#" class="js-link-logout">Выход</a>
	</div>
</div>