<main id="page-home">

	<section id="serial"></section>
	
	<div class="message"></div>
	
	<section id="serials"></section>

	<footer>
		<figure>
			<img src="images/cat-walk-icon.png" id="load-image" />
			<figcaption>Popser!</figcaption>
		</figure>
		<span>Сохранено...</span>
	</footer>

</main>
