<section class="home-page">
	
	{{#if serial}}
	
		<header>
			<span class="palette-emerald current-serial">{{ serial }}</span>
		</header>

		<p class="info-control">	

			<a href="#"><span class="fui-triangle-up-small"></span></a>
			Сезон
			<a href="#"><span class="fui-triangle-down-small"></span></a>

			<a href="#"><span class="fui-triangle-up-small"></span></a>
			Серия
			<a href="#"><span class="fui-triangle-down-small"></span></a>
			
			<a href="#" title="Ссылка" class="info-control-icon" >
				<span class="fui-link"></span>
			</a>
			
			<a class="info-control-icon">
				<span class="fui-gear"></span>
			</a>
			
			<a href="#" title="Дополнительная информация" class="info-control-icon">
				<span class="fui-info-circle"></span>
			</a>
			
			<a href="#" title="Удалить" class="info-control-icon">
				<span class="fui-trash"></span>	
			</a>

		</p>
	{{/if}}

	<div class="js-serials-list"></div>

	<footer>
		<img src="images/cat-walk-icon.png">
		<h1>Popser!</h1>
		<a href="#"><span class="fui-user"></span></a>
		<a href="#" class="js-link-logout" title="Выход"><span class="fui-exit"></span></a>
	</footer>

</section>