<header>
	
	<article id="serial-title">
		<span>{model:title}</span>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:season }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			сезон
		</div>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:series }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			серия
		</div>
	</article>

</header>

<section id="serial-panel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="fui-link"></a>
		</li>
		<li role="presentation">
			<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="fui-trash"></a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home"> home </div>
		<div role="tabpanel" class="tab-pane" id="profile"> profile </div>
	</div>
</section>