<header>
	<span class="palette-emerald current-serial">{{ title }}</span>
</header>

<p class="info-control">	

	<a href="#"><span class="fui-triangle-up-small"></span></a>
	{{ season }} Сезон
	<a href="#"><span class="fui-triangle-down-small"></span></a>

	<a href="#"><span class="fui-triangle-up-small"></span></a>
	{{ series }} Серия
	<a href="#"><span class="fui-triangle-down-small"></span></a>
	
	<a class="info-control-icon">
		<span class="fui-gear"></span>
	</a>
	
	<a href="#" title="Удалить" class="info-control-icon">
		<span class="fui-trash"></span>	
	</a>

</p>