<header>
	
	<article id="serial-title">
		<span>{model:title}</span>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:season }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			сезон
		</div>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:series }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			серия
		</div>
	</article>

</header>

<section id="serial-panel">

	<!-- TABS -->
	<ul class="nav nav-tabs" role="tablist">
		
		<!-- ССЫЛКА -->
		<li role="presentation" rv-noactive="model.isNew">
			<a href="#panel-serial-link" aria-controls="panel-serial-link" role="tab" data-toggle="tab" class="fui-link"></a>
		</li>

		<!-- НАСТРОЙКИ -->
		<li role="presentation" rv-show="model.isNew" rv-class-active="model.isNew">
			<a href="#panel-serial-config" aria-controls="panel-serial-config" role="tab" data-toggle="tab" class="fui-gear"></a>
		</li>

		<!-- УДАЛИТЬ -->
		<li role="presentation">
			<a href="#panel-serial-delete" aria-controls="panel-serial-delete" role="tab" data-toggle="tab" class="fui-trash"></a>
		</li>
	</ul>
	<!-- TABS END -->

	<!-- Tab panes -->
	<div class="tab-content">

		<!-- LINK PANEL -->
		<div role="tabpanel" class="tab-pane" rv-noactive="model.isNew" id="panel-serial-link">
			<div class="input-group">
				
				<span class="input-group-btn">
					<button class="btn fui-play btn-default" type="button" title="Перейти по ссылке"></button>
				</span>

				<input type="text" class="form-control" placeholder="Ссылка на сериал" rv-value="model:link">
				
				<span class="input-group-btn">
					<button class="btn fui-upload btn-default" type="button" title="Вставить текущий адрес страницы"></button>
					<button class="btn fui-search btn-default" type="button" title="Найти другую ссылку"></button>
				</span>

			</div>
		</div>
		<!-- LINK PANEL END -->

		<!-- CONFIG PANEL -->
		<div role="tabpanel" class="tab-pane" rv-show="model.isNew" rv-class-active="model.isNew" id="panel-serial-config">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Название сериала" rv-value="model:title" name="serial-title">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="button-save-serial-title">Сохранить</button>
				</span>
			</div><!-- /input-group -->
		</div>
		<!-- CONFIG PANEL END -->

		<!-- DELETE PANEL -->
		<div role="tabpanel" class="tab-pane" id="panel-serial-delete">
			Удалить сериал из вашего списка?
			<div>
				<a href="#fakelink" class="btn btn-block btn-xs btn-success">Да</a>
				<span></span>
				<a href="#fakelink" class="btn btn-block btn-xs btn-danger">Нет</a>				
			</div>
		</div>
		<!-- DELETE PANEL END -->
	</div>
</section>