<header>
	
	<article id="serial-title">
		<span>{model:title}</span>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:season }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			сезон
		</div>
	</article>
	
	<article class="serial-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:series }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<div>
			серия
		</div>
	</article>

</header>

<section id="serial-panel">

	<!-- TABS -->
	<ul class="nav nav-tabs" role="tablist">
		
		<!-- ССЫЛКА -->
		<li role="presentation" rv-noactive="model.isNew">
			<a href="#panel-serial-link" aria-controls="panel-serial-link" role="tab" data-toggle="tab" class="fui-link"></a>
		</li>

		<!-- НАСТРОЙКИ -->
		<li role="presentation" rv-class-active="model.isNew">
			<a href="#panel-serial-config" aria-controls="panel-serial-config" role="tab" data-toggle="tab" class="fui-gear"></a>
		</li>

		<!-- УДАЛИТЬ -->
		<li role="presentation">
			<a href="#panel-serial-delete" aria-controls="panel-serial-delete" role="tab" data-toggle="tab" class="fui-trash"></a>
		</li>
	</ul>
	<!-- TABS END -->

	<!-- Tab panes -->
	<div class="tab-content">

		<!-- LINK PANEL -->
		<div role="tabpanel" class="tab-pane" rv-noactive="model.isNew" id="panel-serial-link"> link </div>
		<!-- LINK PANEL END -->

		<div role="tabpanel" class="tab-pane" rv-class-active="model.isNew" id="panel-serial-config"> config </div>
		<div role="tabpanel" class="tab-pane" id="panel-serial-delete"> delete </div>
	</div>
</section>