<header>
	<span class="serial-header-title">
		<span class="palette-emerald current-serial" rv-text="model:title" ></span>
	</span>
	
	<span></span>

	<a class="info-control-icon js-show-serial-settings serial-header-icon">
		<span class="fui-gear"></span>
	</a>
	
	<a href="#" title="Удалить" class="info-control-icon serial-header-icon">
		<span class="fui-trash"></span>	
	</a>
</header>

<p class="info-control">	

	<a href="#"><span class="fui-triangle-up-small"></span></a>
	Сезон
	<a href="#"><span class="fui-triangle-down-small"></span></a>

	<a href="#"><span class="fui-triangle-up-small"></span></a>
	Серия
	<a href="#"><span class="fui-triangle-down-small"></span></a>
	

</p>

<div class="js-serial-info">
	<span>
		<button class="fui-link btn btn-info" title="Указать ссылку текущей страницы"></button> &nbsp
		<a href="#">{ model:link }</a>
	</span>
</div>

<hr />

<div class="js-serial-settings">
	<input type="text" rv-value="model:title" placeholder="Название сериала" class="form-control" />
	<button class="btn btn-primary" >Сохранить</button>
	<hr />
</div>
