Мои сериалы:

<span class="" rv-each-serial="model:collection" rv-class-active="serial:current" rv-data-cid="serial.cid" >
	{serial:title}
</span>

<a href="#" class="fui-plus js-add-new-serial" title="Добавить сериал"></a>