<header>
	<span class="serial-header-title">
		<span class="palette-emerald current-serial" rv-text="model:title" ></span>
	</span>
	
	<div class="serial-header-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:season }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<span>сезон</span>
	</div>

	<div class="serial-header-counter">
		<div>
			<a href="#" class="fui-triangle-up-small"></a>
			<strong>{ model:series }</strong>
			<a href="#" class="fui-triangle-down-small"></a>
		</div>
		<span>серия</span>
	</div>

	<a class="info-control-icon js-show-serial-settings serial-header-icon">
		<span class="fui-gear"></span>
	</a>
	
	<a href="#" title="Удалить" class="info-control-icon serial-header-icon">
		<span class="fui-trash"></span>	
	</a>
</header>

<div class="js-serial-info">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#serial-link-block" aria-controls="serial-link-block" role="tab" data-toggle="tab" class="fui-link"></a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			
			<div role="tabpanel" class="tab-pane active" id="serial-link-block">
				<span>
					<strong>Ссылка:</strong>
					<a href="#" rv-show="model:link">{ model:link }</a>
					<span rv-hide="model:link">Ссылка не привязана</span>
				</span>

			<span class="js-serial-info-control">
				<a class="fui-link" href="#" title="Привязать ссылку к текущей странице"></a>
				<a class="fui-new" href="#" title="Редактировать ссылку"></a>
			</span>
						
			</div>
		</div>
</div>

<hr />

<div class="js-serial-settings">
	<div>
		<span>Название:</span>
		<input type="text" rv-value="model:title" placeholder="Название сериала" class="form-control" />
		<a class="fui-check-circle"></a>
	</div>
	<!-- <button class="btn btn-primary" >Сохранить</button> -->
	<hr />
</div>
