Мои сериалы: &nbsp;

<span class="element-serials-list palette-asbestos js-serials-element" rv-each-serial="model:collection" rv-class-active="serial:current" rv-text="serial:title" rv-data-cid="serial.cid" ></span>

<a href="#">
	<span class="fui-plus js-add-new-serial" title="Добавить сериал"></span>
</a>